@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:700);

body{
    font-family: 'Archivo Narrow', sans-serif;
    /*background-color:#808080;*/
    background-color:#ffffff;
}
.center{
    text-align: center;
}

img{
    width:100%;
    height:auto;
}

#seat .title{
    color:#ff6666;
}

#seat .title img{
    float:right;
    width:18px;
}


#seat .select-seats{
        padding:15px;    
        border-bottom: 1px solid #e5e5e5;
}

#seat .select-seats span img{
    width:17px;
}

#seat .select-seats img{
    width:14px;
}

#seat .btn-booking {
    
    background-color: #ff6666;
    border-radius: 0;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-family: 'Archivo Narrow', sans-serif;
    padding: 6px 12px;
    text-transform: capitalize;
    display: inline-block;
}

/***********seat map **************/



#seat .row input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: -10px;
    left: -10px;
}

.seat label {
    
    display: inline-block;
    width: 24px;
    height: 14px;
    top: 0px;
    left: 0px;
    z-index: 99;
    cursor: pointer;
    margin: 0 !important;
}

#seat table tr td.disable .seat label {
    
    background: url('/booking/image/seat-ic.png') no-repeat -35px 0px;
}

#seat table tr td.avalible .seat label {
    background: url('/booking/image/seat-ic.png') no-repeat -91px 0px;
    
}

#seat table tr td.current .seat label {
    background: url('/booking/image/seat-ic.png') no-repeat -16px 0px;

}
#seat table {
    margin:0 auto;
    
}
#seat table thead tr th{
    text-align: center;
    font-size:20px;
    color:#ff6666;
    border: 1px solid #e5e5e5;
        
}

#seat table tbody{
    border: 1px solid #e5e5e5;
}
#seat table span img{
    width: 17px;
}

#seat table {
    text-align: center;
   
    border: 1px solid #e5e5e5;
        
}
.explain-role div {
	margin-top:15px;
    margin-bottom:15px;
}

.explain-role .sold-out{
    
    display:inline-block;
    width:20px;
    height:14px;
    background: url('../../../Booking/image/seat-ic.png') no-repeat -35px 0px;
}

.explain-role .current-selection{
    display:inline-block;
    width:20px;
    height:14px;
    background: url('../../../Booking/image/seat-ic.png') no-repeat -16px 0px;
}

.max-space{
    
    position:absolute;
    display:none;
    top:-1000px;
    left:50%;
    transform: translateX(-50%);
    max-width: 800px;
    background-color:#ffffff;
    -webkit-transition: top 1s;
    z-index:20;
    border:5px solid #808080;
}

.active{
    top:10px;
}

.shadow{
    
    position:absolute;
    background-color:#ffffff;
    width:100%;
    height:100%;
    
    z-index: 10;
}