
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#header
{
    width: 100%;
    height: 50px;
    background-color:#2c3e50;
    margin: 0 auto;
    
}
a 
{
    text-decoration: none;
}
.logo a
{
    font-size: 1.6em;
    color: white;
}
.logo
{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

div#container
{
    width: 100%;
    margin: 0 auto;
}
.sidebar
{
    width: 250px;
    height: 100%;
    background-color: #171717;
    float: left;
    
}
.content
{
    width: auto;
    height: 100%;
    background-color: white;
    padding: 15px;
    margin-left: 250px;
    
}
ul#nav
{
    
}
ul#nav li
{
    list-style: none;
}
ul#nav li a
{
    color: #ccc;
    display: block;
    padding: 12px;
    border-bottom: 1px solid #0A0A0A;
    -webkit-transition:0.2s;
    -o-transition:0.2s;
    -moz-transition:0.2s;
     transition:0.2s;
}
ul#nav li a:hover
{
    background-color: #030303;
    color: #fff;
    padding-left: 30px;
    
}
ul#nav li a.selected
{
    background-color: #030303;
    color: #fff;
}
.content p{
    color : #424242;
    font-size: 0.73em;
    padding: 5px;
}
div#box
{
    margin-top: 15px;
}
div#box .box-top
{
    color:#fff;
    text-shadow: 0px 0px 1px #ddd;
    background-color: #2980b9;
    padding: 5px;
    font-weight: 300;
}
div#box .box-panel
{
    padding: 15px;
    background-color: greenyellow;
}