.table1 tr{
   border:none;

}
.table1 td{
    border: none;

}
.table1{
    border: none;
}
.table1 button{
    margin-top:20px;
}
.bb{
    border:solid 2px salmon;
    background-color: transparent;
    color: salmon;
    font-weight: 800;
}
.bb:hover{
    background-color: salmon;
    color: white;
}