@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:700);

body{
    font-family: 'Archivo Narrow', sans-serif;
}
.center{
    text-align: center;
}

img{
    width:100%;
    height:auto;
}

#film-banner{
    background-image:url('../image/book-ticketbanner.jpg');
    background-position: center;
    background-repeat: no-repeat
}

#film-banner h1{
    padding:20px;
    text-align: center;
}

/*********** Booking Detail ****************/

#booking-detail .detail-row span{
    float:right;
    
}

/*********** information table ****************/

.booking-table>tbody>tr>td, .booking-table>tbody>tr>th, .booking-table>tfoot>tr>td, .booking-table>tfoot>tr>th, .booking-table>thead>tr>td, .booking-table>thead>tr>th{
    border:0;
}

.booking-table{
    background-color:#f5f5f5;
}

.booking-table>thead>tr>th{
    color:#ff6666;
}

.booking-table #total{
    background-color:#676767;
    color:#ffffff;
}

.booking-table a{
    margin-top: 10px;
    font-size: 20px;
    border: none;
    border-radius: 0px;
    font-weight: bold;
    padding: 10px 30px;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    line-height: 22px;
    text-align: center;
    background-color:#ff6666;
    color:#ffffff;
}
#booking-detail .ticket-booking h2{
    border-bottom:2px solid #f5f5f5;
}
/***********T-short Design***************/


#booking-detail .design-part .logoDesign{
    border:1px solid #D5D5D5;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
    background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
}
    
#booking-detail .design-part h4{
    font-size: 17px;
    font-weight: 600;
    color: #555;
    line-height: 18px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    text-align: center;
    
}

#booking-detail .design-part .logo-row{
    
    background-color:#ffffff;
}

#booking-detail .design-part .col-space{
    margin-top:5px;
    margin-bottom:5px;
}

#booking-detail .design-part .Tshirt{
    border:1px solid #D5D5D5;
    margin-bottom:20px;
}

#booking-detail .design-part .confirm-button{
    border:1px solid #D5D5D5;
    padding:5px;
}

#booking-detail .design-part .TshirtOption{
    border:1px solid #D5D5D5;
        background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
    background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
    background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
}

#booking-detail .design-part .Tshirt-row{
    
    background-color:#ffffff;
}


/*********JQuery CSS**********/

.ImageResize{
    position:absolute;
    top:0;
    left:0;
    width:30px;
}

.draggable{
    
}

#booking-detail .btn-booking{
    background-color:#ff6666;
    border-radius: 0;
    color:#ffffff;
    border: none;
    font-size: 16px;
    font-family: 'Archivo Narrow', sans-serif;
    padding: 6px 12px;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom:20px;
    margin-right:20px;

}

.timer {
    position: fixed;
    right: 0;
    font-family: 'roboto-regular';
    font-size: 14px;
    background: url(../image/timer-bg.png) no-repeat;
    color: #fff;
    top: 85%;
    width: 122px;
    height: 44px;
    padding-top: 15px;
    padding-left: 25px;
    border-top-right-radius: 0px;
    z-index: 99;
    display: inline-block;

}
.timer-pay{
    padding-left: 40px;
    padding-top: 13px;
}

.btn-payment{
    font-size: 20px;
    border: none;
    border-radius: 0px;
    font-weight: bold;
    padding: 10px 30px;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    line-height: 22px;
    text-align: center;
    background-color: #ff6666;
    color: #ffffff;
}