@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:700);

body{
font-family: 'Archivo Narrow', sans-serif;
}

.image-center{
    width:100%;
    height:auto;
}

.moiveCalender{
    border-bottom: 1px solid rgba(0,0,0,.25);
    padding-left:1%;
}

.select-step{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #000;
    background: #ffcd9a;
    padding: 4px 10px;
    line-height: 30px !important;
    width:100%;
}

.introduction{
    font-weight:bold;
    color: #666666;
    margin-bottom: 20px;
}

.none-step{
    font-size: 18px;
    color: #fff;
    background: #777;
    font-weight: 700;
    padding: 4px 10px;
    line-height: 30px !important;
    text-align: center;
}

.form-control{
    width: 100%;
    background: #fff;
    border: none;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
}

.bg-calender-form{
    background-color:#f5f5f5;
}

.moviedem-submit, .create-wallet {
    display:inline-block;
    background: #ff6666;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 0px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
    padding: 6px 30px;
    text-transform: uppercase;
    margin-left:1%;
}

.btn-arrow{
    margin-left:5px;
    width:14px;
    height:auto;

}

.btn-calender{
    width:100%;
    border:1px solid #000000;
    margin-top:20px;
}
.movieName{
    background: #fff;
    padding: 15px;
    height: 480px;
    overflow: scroll;
}

.mp-caltype{
    border: 1px solid #000;
    border-radius: 2px;
    width: 100%;
    margin: 10px 0 10px;
    text-align: left;
    padding:7px 5px;
}